<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Permissions-Policy"
      content="usb-unrestricted=(); battery=();"
    />
    <title>404 Not Found Page</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="nav__logo">
        <a href="/">OPPS! PÁGINA NO ENCONTRADA</a>
      </div>
    </nav>
    <div class="container">
      <div class="header">
        <h1>404</h1>
        <h3>Página no encontrada!</h3>
      </div>
      <img src="./img/oops-404.jpg" alt="Página no encontrada!" />
      <div class="footer">
        <p>
          Lo sentimos, no se pudo encontrar la página que solicitó. Por favor
          regresa a la página de inicio!
        </p>
        <a href="/" class="menu-btn">Ir a inicio</a>
      </div>
    </div>
  </body>
</html>
