<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Permissions-Policy"
      content="usb-unrestricted=(); battery=();"
    />
    <title>Portafolio Personal</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="./css/portfolio.css" />
  </head>

  <body>
    <div class="scroll-up-btn">
      <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
      <div class="max-width">
        <div class="logo">
          <a href="#">Mi Portafo<span>lio.</span></a>
        </div>
        <ul class="menu">
          <li><a href="#home" class="menu-btn">Inicio</a></li>
          <li><a href="#about" class="menu-btn">Acerca de</a></li>
          <li><a href="#services" class="menu-btn">Servicios</a></li>
          <li><a href="#skills" class="menu-btn">Habilidades</a></li>
          <li><a href="#teams" class="menu-btn">Proyectos</a></li>
          <li><a href="#contact" class="menu-btn">Contacto</a></li>
        </ul>
        <div class="menu-btn1">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>

    <!-- home section start -->
    <section class="home" id="home">
      <div class="max-width">
        <div class="home-content">
          <div class="text-1">Hello there, my name is</div>
          <div class="text-2">Francisco</div>
          <div class="text-3">y soy <span class="typing"></span></div>
          <a href="#contact" class="menu-btn">Contactarme</a>
        </div>
      </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
      <div class="max-width">
        <h2 class="title">Mi perfil</h2>
        <div class="about-content">
          <div class="column left">
            <img src="./img/profile-1.jpg" alt="" />
          </div>
          <div class="column right">
            <div class="text">
              Hola, soy Francisco
              <!-- <span class="typing-2"></span> -->
            </div>
            <p>
              Vivo en El Alto en la zona villa esperanza entre la terminal
              interprovincial y la estación del teleférico azul.
            </p>
            <br />
            <p>
              Soy soltero, no me he casado, no tengo hijos, disfruto mucho el
              pasar el tiempo en familia con mis hermanos y mis sobrinos un fin
              de semana, entre otras cosas.
            </p>
            <br />
            <p>
              Dedico parte de mi tiempo libre a leer libros como también ver
              series de televisión y películas.
            </p>
            <br />
            <p>
              Soy una persona comprometida, con habilidades para trabajar en
              equipo y tomar decisiones importantes en situaciones de alta
              presión. Con experiencia en el área de operaciones, sistemas,
              ventas y servicio al cliente, he desarrollado habilidades en
              comunicación efectiva y resolución de problemas.
            </p>
            <a href="#contact" class="menu-btn">Contactarme</a>
            <!-- <a disabled onclick="window.open('./assets/download/resume-example.pdf')">Descargar CV</a> -->
          </div>
        </div>
      </div>
    </section>

    <!-- services section start -->
    <section class="services" id="services">
      <div class="max-width">
        <h2 class="title">Mis servicios</h2>
        <div class="serv-content">
          <div class="card">
            <div class="box">
              <i class="fas fa-solid fa-industry"></i>
              <div class="text">
                Jefe de Sistemas <br />
                en:
              </div>
              <div class="box">
                <img
                  src="https://cruzimex.com/wp-content/uploads/2020/09/cruzimex-logo-2023.png"
                  width="200"
                  height="75"
                  alt=""
                /><br />
                <p>
                  Administrar y mantener los equipos de cómputo, software, redes
                  y comunicaciones para la operación y el desarrollo
                  institucional.
                </p>
                <br />
                <a href="#contact" class="more-btn">Saber mas...</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <i class="fas fa-solid fa-paste"></i>
              <div class="text">Analista de Inventario en:</div>
              <div class="box">
                <img
                  src="https://www.hansa.com.bo/images/logo.png"
                  width="200"
                  height="75"
                  alt=""
                /><br />
                <p>
                  Coordinar y controlar la correcta preparación de las áreas
                  para los inventarios cíclicos, según cronograma.
                </p>
                <br />
                <a href="#contact" class="more-btn">Saber mas...</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <i class="fas fa-solid fa-boxes-packing"></i>
              <div class="text">
                Consultor Externo <br />
                en:
              </div>
              <div class="box">
                <img
                  src="../img/logo_fair.webp"
                  ,
                  width="200"
                  height="60"
                  alt=""
                /><br />
                <p>
                  Encargado de coordinar la logística del levantamiento de
                  inventario físico en cada una de las sucursales a nivel
                  regional y nacional.
                </p>
                <br />
                <a href="#contact" class="more-btn">Saber mas...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- skills section start -->
    <section class="skills" id="skills">
      <div class="max-width">
        <h2 class="title">Mis conocimientos</h2>
        <div class="skills-content">
          <div class="column left">
            <div class="text">Mis habilidades y experiencias.</div>
            <p>
              En el trayecto de mi carrera profesional tuve la oportunidad de
              tomar cursos con relación a mi fuente de trabajo, los cuales me
              ayudaron a seguir formándome a nivel académico.
            </p>
            <br />
            <p>
              Cursos como ser técnico en ofimática y Excel avanzado, en este
              curso tuve la oportunidad de aprender sobre formulas, tablas
              dinámicas, gráficos dinámicos, la creación de dashboard para la
              representación de reportes gerenciales.
            </p>
            <br />
            <p>
              Otros cursos que tomé con relación a mi área fue la administración
              de bases de datos, desarrollo web frontend html, css y javascript
              y por el lado del backend php y mysql. Asi tambien de node donde
              aplique react y react native
            </p>
            <br />
            <a href="#contact" class="menu-btn">Saber mas...</a>
          </div>
          <div class="column right">
            <div class="bars">
              <div class="info">
                <span>TÉCNICO SUPERIOR EN INFORMATICA INDUSTRIAL</span>
                <span>95%</span>
              </div>
              <div class="line html"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>TÉCNICO MEDIO EN CONTABILIDAD Y FINANZAS</span>
                <span>90%</span>
              </div>
              <div class="line css"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>DESARROLLO WEB CON HTML, CSS Y JAVASCRIPT</span>
                <span>95%</span>
              </div>
              <div class="line mysql"></div>
            </div>
            <br />
            <div class="bars">
              <div class="info">
                <span>ADMINISTRACIÓN DE BASES DE DATOS CON SQL</span>
                <span>85%</span>
              </div>
              <div class="line3 mysql2"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>PROGRAMACION ORIENTADA A OBJETOS EN PHP</span>
                <span>90%</span>
              </div>
              <div class="line3 php"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>TÉCNICO EN OFIMATICA Y EXCEL AVANZADO</span>
                <span>80%</span>
              </div>
              <div class="line3 js"></div>
            </div>
            <br />
            <div class="bars">
              <div class="info">
                <span>JAVASCRIPT FOR REACT AND REACT NATIVE</span>
                <span>65%</span>
              </div>
              <div class="line2 mysql4"></div>
            </div>
            <div class="bars">
              <div class="info">
                <span>INGLES TECNICO</span>
                <span>50%</span>
              </div>
              <div class="line2 mysql3"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01" />
      <div id="caption"></div>
    </div>
    <!-- teams section start -->
    <section class="teams" id="teams">
      <div class="max-width">
        <h2 class="title">Mis proyectos</h2>
        <div class="carousel owl-carousel">
          <div class="card">
            <div class="box">
              <img id="myImg1" alt="Dashboard App" src="../img/dashboard.png" />
              <div class="text">React Admin Dashboard</div>
              <p>Aplicacion creada con react y express.</p>
              <p>Dashboard administrativo para el control de personal.</p>
              <p>Registra entradas, salidas actualizaciones y mas.</p>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <img id="myImg2" alt="Registro de Inventario" src="../img/fairplay.png" />
              <div class="text">Registro de Inventario Fair Play</div>
              <p>Aplicacion creada con php, mysql y bootstrap.</p>
              <p>
                Registra el ingreso por codigo de barras por medio de scanner.
              </p>
              <p>Agrega, elimina, actualiza y consolida la informacion.</p>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <img id="myImg3" alt="Control de Asistencia" src="../img/wasap.jpeg" />
              <div class="text">Control de Asistencia Proesa</div>
              <p>Aplicacion creada con react-native y express.</p>
              <p>Controla las asistencias diarias de las salidas a ruta.</p>
              <p>Genera reportes, estadisticas mas actualizacion de usuario.</p>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <img id="myImg4" alt="Aplicación de Chat" src="../img/chatapp.png" />
              <div class="text">ChatApp Proyecto Personal</div>
              <p>Aplicacion creada con php, ajax y mysql.</p>
              <p>Registra nuevos usuarios con los cuales se puede chatear.</p>
              <p>Envia y recibe mensajes, agrega nuevos usuarios con roles.</p>
            </div>
          </div>
          <div class="card">
            <div class="box">
              <img id="myImg5" alt="Control de Inventario" src="../img/toma-inv.png" />
              <div class="text">Control de Inventario Hansa</div>
              <p>Aplicacion creada en excel con macros.</p>
              <p>registras los ingresos y los consolida con el invetario.</p>
              <p>Coteja los conteos y da opcion a reconteo de existencias.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- contact section start -->
    <section class="contact" id="contact">
      <div class="max-width">
        <h2 class="title">Contáctame</h2>
        <div class="contact-content">
          <div class="column left">
            <div class="text">Ponerse en contacto</div>
            <p>
              Puedes ponerte en contacto conmigo a travez de telefono, WhatsApp
              o correo electronico
            </p>
            <div class="icons">
              <div class="row">
                <i class="fas fa-phone"></i>
                <div class="info">
                  <div class="head">Telefono</div>
                  <div class="sub-title">
                    <a href="https://wa.me/59169732738">+591 69732738</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <i class="fas fa-envelope"></i>
                <div class="info">
                  <div class="head">Correo</div>
                  <div class="sub-title">
                    <a href="mailto:franciscovicqy@gmail.com"
                      >franciscovicqy@gmail.com</a
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <i class="fas fa-map-marker-alt"></i>
                <div class="info">
                  <div class="head">Dirección</div>
                  <div class="sub-title">
                    <a
                      href="https://www.google.com/maps/place//@-16.4889259,-68.1964101,16z"
                      target="_blank"
                      >Calle 6 nro 20 zona villa esperanza, El Alto</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column right">
            <div class="text">Enviame un correo</div>
            <form id="contact-form">
              <div class="fields">
                <div class="field name">
                  <input
                    autocomplete="off"
                    id="name"
                    type="text"
                    placeholder="Nombre"
                    required
                  />
                </div>
                <div class="field email">
                  <input
                    autocomplete="off"
                    id="email"
                    type="email"
                    placeholder="Correo"
                    required
                  />
                </div>
              </div>
              <div class="field">
                <input id="subject" type="text" placeholder="Asunto" required />
              </div>
              <div class="field textarea">
                <textarea
                  id="message"
                  cols="50"
                  rows="10"
                  placeholder="Mensaje"
                  required
                ></textarea>
              </div>
              <div class="button-area">
                <button disabled="true" id="buttonSubmit" type="submit">
                  Enviar Mensaje
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- footer section start -->
    <footer>
      <span
        >Designed by <a href="#">@francoiis17</a> |
        <span class="far fa-copyright"></span>
        2024 All rights reserved.
      </span>
    </footer>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>
    <script type="text/javascript" src="./js/portfolio.js"></script>
  </body>
</html>
